html
    head
        link(rel="stylesheet", href="stylesheets/main.css")

        // Bower Components
        script(src="bower_components/skeljs/src/skel.js")
        // End of Bower Components

        script(src="scripts/app.js")

    body
        section.
            Hello World

